<?xml version="1.0" encoding="utf-8" ?>
<Club>
  <DB>
    <Type>Mongo</Type>
    <Host>127.0.0.1</Host>
    <Port>27017</Port>
    <Auth>False</Auth>
    <Username></Username>
    <Password></Password>
    <DBName>MyClub</DBName>
    <Prefix></Prefix>
    <Suffix></Suffix>
    <ConfigTable>MyConfig</ConfigTable>
  </DB>
</Club>